{% extends 'base.html' %}
{% block main %}
    <!-- 面包屑导航 -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'myblog:index' %}">
                    最新
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'myblog:index' %}?order=views">
                    最热
                </a>
            </li>
        </ol>
    </nav>
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}
    {% for blog in blog_list %}
        <article class="post post-{{ blog.id }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="{% url 'myblog:category' blog.category.id %}">
                        {{ blog.category.name }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime={{ blog.create_time }}>{{ post.create_time }}</time></a></span>
                    <span class="post-author"><a href="#">{{ blog.author }}</a></span>
                    <span class="comments-link"><a href="#">{{ blog.comment_set.count }} 评论</a></span>
                    <span class="views-count"><a href="{{ blog.get_absolute_url }}">{{ blog.views }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ blog.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ blog.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布文章！</div>
    {% endfor %}

    <!-- 页码导航 -->
    <div class="pagination row">
        <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if blog_list.has_previous %}
                <a href="?page=1" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ blog_list.previous_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ blog_list.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ blog_list.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if blog_list.has_next %}
                <a href="?page={{ blog_list.next_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ blog_list.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ blog_list.paginator.num_pages }}"
                   class="btn btn-success"
                >
                    {{ blog_list.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
        </div>
    </div>
{% endblock main %}
