{% block content %}
    <h2> Account info</h2>
    <ul>
        <li>Username:{{ user.username }}</li>
        <li>email:{{ user.email }}</li>
    </ul>
    <h2>My Profile</h2>

    <ul>
        <li>first name: {{ user.first_name }}</li>
        <li>last name: {{ user.last_name }}</li>
        <li>origanization: {{ user.profile.org }}</li>
        <li>telephone: {{ user.profile.telephone }}</li>
    </ul>

{% if user.profile.avatar %}
    <div class="col-md-4">头像</div>
    <img src="{{ profile.avatar.url }}" style="max-width: 20%; border-radius: 15%;" class="col-md-4">
{% else %}
    <h5 class="col-md-4">暂无头像</h5>
{% endif %}

    {% if user.is_authenticated %}
        <a href="{% url 'users:profile_update' user.id %}">Edit</a>
        <a href="{% url 'users:logout' %}">Logout</a>
    {% endif %}

{% endblock %}
